html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    border-radius: 80px;
}

.neumorphic-page {
    padding: 10px 10px; 
    margin: 0px auto;
    min-height: 100vh;
    display: flex;
     align-items: center;
    justify-content: flex-start;
    border-radius: 25px;
    background: #d2e2cace;
    background: linear-gradient(100deg, #82978e, #82978e);
    box-shadow: inset 5px 18px 18px #d1e0dc, inset -10px -10px 50px #9eb3ad;
     -webkit-font-smoothing: antialiased; 
    /* -moz-osx-font-smoothing: grayscale;  */
    
}
.neumorphic-wrapper {
    width: 95%;
  /* max-width: 1200px; */
    border-radius: 20px;
    background: linear-gradient(10deg, #88a7a2, #82978e);
    box-shadow: 8px 8px 16px 20px #88a7a2, -16px -16px 50px #9eb3ad; /* Neumorphic shadow */
    margin: 27px 69px; /* optional top/bottom spacing */
    text-align: center;
    align-items: center;
    justify-content: center;
}
