/* src/styles/custom.css */
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

.hero-text {
   @apply text-[#a20419]; 
}

.hero-sub-text {
   @apply text-[#2c8708];
}
.hero-font {
   @apply font-[exo] font-[700]
}

.image-clipped-text {
   @apply text-[5rem] font-bold bg-clip-text text-transparent bg-cover bg-center;
}

.kenya-name-font{
   font-family:'Quando', serif;
}
.title-font {
   font-family: 'Oswald', sans-serif;
}
.text-font {
   @apply font-[Rubik]  font-[300] text-gray-600 text-lg md:text-xl  2xl:text-2xl;
}
.color-primary{
   @apply text-red-700;
}
@theme {
   --color-primary: #a20419;
   --color-secondary: #0cce10;
}
/* please use bg-[#efebe5]/90 for background  */
.background-color{
   @apply bg-[#efebe5] ;
}
.card-background-color{
   @apply bg-secondary/10;
}




/* Css for the stack ! (is here!) */
.card-rotate {
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
}

.card-rotate:active {
  cursor: grabbing;
}

.stack-container {
  margin: 0 auto;
}

.card {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-image {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}