/* src/styles/custom.css */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
   .hero-text {
    @apply text-[#a20419]; 
   }

   .hero-sub-text {
    @apply text-[#2c8708];
   }
   .hero-font {
    @apply font-[exo] font-[700]
   }
 
    .image-clipped-text {
    @apply text-[5rem] font-bold bg-clip-text text-transparent bg-cover bg-center;
    }