/* src/styles/custom.css */
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
.hero-text {
   @apply text-[#a20419]; 
}

.hero-sub-text {
   @apply text-[#2c8708];
}
.hero-font {
   @apply font-[exo] font-[700]
}

.image-clipped-text {
   @apply text-[5rem] font-bold bg-clip-text text-transparent bg-cover bg-center;
}

.kenya-name-font{
   font-family:'Berkshire Swash', cursive;
}
.title-font {
   font-family: 'Oswald', sans-serif;
}
.text-font {
   @apply font-[Rubik] font-[300] text-xl;
}
.color-primary{
   @apply text-red-700;
}
@theme {
   --color-primary: #a20419;
   --color-secondary: #2c8708;
}
/* please use bg-[#86a39e]/40 for background  */
.background-color{
   @apply bg-[#86a39e]/40 ;
}

