*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    overflow-x: hidden;
}
@keyframes glow-slow {
  0%   { transform: scale(0.95); opacity: 0.75; }
  50%  { transform: scale(1.02); opacity: 1;    }
  100% { transform: scale(0.95); opacity: 0.75; }
}
.animate-glow-slow {
  animation: glow-slow 8s ease-in-out infinite;
}

